<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Test page</title>
        <link rel="stylesheet" href="styles/style_test.css">
        <link rel="icon" type="image/x-icon" href="/resources/favicon_brain.png">
    </head>
    <body>
        <div class="header_container">
            <span class="title">
                <div> Stupid <span style="font-size:50px; color:#280024; font-weight: bold ; font-family: 'Ink Free'"  > MEME </span> time ! </div>
            </span>
            <div class="button_container">
                <a class="linkbutton" href="/">
                    <span style="color:white ; font-family: fantasy;"> Home </span>
                </a>
            </div>
            <div class="button_container" style="margin-left: 0px;">
                <a class="linkbutton" href="/canvas">
                    <span style="color:white ; font-family: fantasy;"> Canvas </span>
                </a>
            </div>
            <div class="button_container" style="margin-right: 15%; margin-left: 0px;">
                <a class="linkbutton" href="/animation">
                    <span style="color:white ; font-family: fantasy;"> Back to Animation page </span>
                </a>
            </div>
        </div>

        <div class="main_text_container">
            <div class="img_centerer" style="text-align:center;"> 
                <span style="font-size:100px; color:#000728; font-weight: bold ; font-family: impact"  > E </span> fellow traveller !<br>
                <div class="img_container" style="margin-bottom: 1cm;">
                    <img src="resources/better_meme.png" alt="E" width="60%" height="50%">
                </div>
            </div>    
            <p style="margin-bottom: 1cm;"> Lord Marquaad E, also known as Lord Farquaad / Markiplier E, refers to a deep fried image of the face YouTube Let's Player Markiplier
                photoshopped onto the head of Lord Farquaad from Shrek with the letter "E" in impact font overlaying the image.
                Later edits posted the face over an image of Mark Zuckerberg's Congressional Hearings. The character was then
                edited in several templates referencing the absurdity of modern memes.</p>
            <p style="font-size:10px; color:#9ea0a9">  <i>Source : KnowYourMeme / Lord Marquaad E <a href="https://knowyourmeme.com/memes/lord-marquaad-e"> (link) </a> </i></p>
        </div>
    </body>
</html>