<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Animation page</title>
        <link rel="stylesheet" href="styles/style_test.css">
        <link rel="icon" type="image/x-icon" href="/resources/favicon_brain.png">
    </head>
    <body>
        <div class="header_container">
            <span class="title">
                <div> <span style="font-size:50px; color:#280024; font-weight: bold ; font-family: 'Ink Free'"  > ANIMATION </span> time ! </div>
            </span>
            <div class="button_container">
                <a class="linkbutton" href="/">
                    <span style="color:white ; font-family: fantasy;"> Home </span>
                </a>
            </div>
            <div class="button_container" style="margin-left: 0px;">
                <a class="linkbutton" href="/canvas">
                    <span style="color:white ; font-family: fantasy;"> Canvas </span>
                </a>
            </div>
            <div class="button_container" style="margin-right: 15%;margin-left: 0px;">
                <a class="linkbutton" href="/e">
                    <span style="color:white ; font-family: fantasy;"> E ? </span>
                </a>
            </div>
        </div>
        
        <div class="svgContainer">
            <span class="leftbox">
                <div id="new_mean_text"> Change middlevalue </div>
                <p style="margin: 10px;">Noise intensity</p>
                <div>
                    <span class="slider_cont">
                        <input type="range" min="0.0" max="1.0" step="0.1" class="slider" id="int_range">
                    </span>
                    <span class="slider_cont">
                        <p id="int_displayer">0.0</p>
                    </span>
                </div>
                <p style="margin: 10px;">Noise Frequency</p>
                <div>
                    <span class="slider_cont">
                        <input type="range" min="1" max="100" step="1" class="slider" id="freq_range">
                    </span>
                    <span class="slider_cont">
                        <p id="freq_displayer">0.0</p>
                    </span>
                </div>
            </span>
            <span class="rightbox">
                <object id="svg1" data="resources/gauge.svg" type="image/svg+xml"></object>
            </span>           
        </div>

        <script src="client_scripts/gauge_anim_class.js" type="module"></script>
        
    </body>
</html>