* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
   } 

body {
    background-color: rgba(158, 166, 167, 0.158);
}
h1 {
    font-family: verdana;
    font-size: 300%;
    text-align: left;
    margin-right: 100px;
    margin-left: 100px;
}
h2 {
    font-family: verdana;
    font-size: 150%;
    text-align: left;
    margin-right: 100px;
    margin-left: 100px;
}
h3 {
    font-family: verdana;
    font-size: 150%;
    text-align: left;
    margin-right: 100px;
    margin-left: 100px;
}
p {
    font-family: courier;
    font-size: 100%;
    text-align: left;
    margin-right: 20%;
    margin-left: 20%;
}

.header_container {
    background-color: #c3c3ff;
    border-bottom: 10px solid rgb(110, 165, 243);
    white-space: nowrap;
    display: flex;
    align-items: center;
    
}
.header_container .title{
    font-family: verdana;
    font-size: 200%;
    display: inline-block;
    background-color: #c3c3ff;
    margin-left: 15%;
}

.header_container .button_container {
    display: inline-block;
    height: 100%;
    margin-left: auto;
    margin-right: 1%;
}

.linkbutton{
    background-color: #4f4feb;
    height: 100%;
    padding: 20px;
    margin-right: 0;
    text-align: center;
    cursor: pointer;
    color:#4f4feb;
}.linkbutton:hover{
    background-color: #8080f8;
    color: rgb(255, 255, 255);
}


.linkbutton{
    background-color: #4f4feb;
    height: 100%;
    padding: 20px;
    margin-right: 0;
    text-align: center;
    cursor: pointer;
    color:#4f4feb;
}.linkbutton:hover{
    background-color: #8080f8;
    color: rgb(255, 255, 255);
}

.main_text_container {
    background-color: #ffffff;
    border: 1px solid #595959;
    height: 100%;
    margin-right: 15%;
    margin-left: 15%;
}

.image_container {
    background-color: #ffffff;
    border: 150px solid #595959;
}

img{
    -webkit-filter: drop-shadow(5px 5px 5px #666666);
    filter: drop-shadow(5px 5px 5px #666666);
}

.svgContainer{
    background-color: #ffffff;
    border: 1px solid #595959;
    border-top: #ffffff00;
    height: 100%;
    margin-right: 15%;
    margin-left: 15%;
    text-align: center;
    margin-bottom : 20px;
}

.leftbox{
    background-color: #ffffff00;
    vertical-align: middle;
    display: inline-block;
}
.rightbox{
    background-color: #ffffff;
    vertical-align: middle;
    display: inline-block;
} .rightbox #svg1 {
    margin:5% ;
} .canvas_container_slider{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10%;
    margin-top: 2.5%;
    margin-bottom: 0%;
}

#new_mean_text{
    background-color: #eb4f4f;
    cursor: pointer;
    color:#ffffff;
    padding: 20px;
    margin: 0px;
    margin-right:150px;
}#new_mean_text:hover{
    background-color: #ffc7c7;
    color: rgb(255, 255, 255);
}

.slider_cont{
    background-color: #ffffff00;
    display: inline-block;
}

.canvas_container{
    background-color: rgb(123, 123, 123);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
}



#canvas{
    padding: 0;
    color:#f700ffca;
    background-color: #eb4f4f;
}
#test{
    color:#827e7ec5;
}


.good_feedback_flash{
    position: absolute;
    z-index: 1000; /* put .green-box above .dashed-box */
    width: 100%;
    left: 0%;
    right: 0%;
    height: 100%;
    top : 0%;
    background: rgba(0, 255, 0, 0.768);
}

.bad_feedback_flash{
    position: absolute;
    z-index: 1000; /* put .green-box above .dashed-box */
    width: 100%;
    left: 0%;
    right: 0%;
    height: 100%;
    top : 0%;
    background: rgba(255, 0, 0, 0.768);
}
/* } .feedback_flash #good_end{
    background: rgba(0, 255, 0, 0.768);
}.feedback_flash #bad_end{
    background: rgba(255, 0, 0, 0.768);
}.feedback_flash #good_pred{
    background: rgba(255, 242, 0, 0.768);
}.feedback_flash #bad_pred{
    background: rgba(238, 0, 255, 0.768);
} */